<!DOCTYPE html>
<html lang="en">

  <%- include("../partials/head") %>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  
<body>

  <%- include("../partials/header") %>

  <div class="container-create-edit-product">

    <div class="row display-flex justify-content-center mt-2 mb-5">

      <div class="col-lg-5 col-md-8 col-xs-12 col-sm-12">

        <h1 class="mb-3 text-center">Nuevo Producto</h1>

          <form action="/products/create" method="post" enctype="multipart/form-data">

            <div class="form-group">
              <label for="name">Nombre del Producto</label>
              <input type="text" id="name" name="name" class="form-control <%= locals.errors && errors.name ? 'is-invalid' : null %>" value= "<%= locals.oldData && oldData.name ? oldData.name : null %>">
              <% if (locals.errors && errors.name) { %>
                <p style="color: red"><%= errors.name.msg %></p>
              <% } %>
            </div>

            <div class="form-group">
              <label for="short_description">Descripcion breve</label>
              <textarea class="form-control" id="short_description" name="short_description"><%= locals.oldData && oldData.short_description ? oldData.short_description : null %></textarea>
            </div>

            <div class="form-group">
              <label for="long_description">Descripcion amplia</label>
              <textarea class="form-control" id="long_description" name="long_description"><%= locals.oldData && oldData.long_description ? oldData.long_description : null %></textarea>
            </div>

            <div class="form-group">
              <label for="image" class="form-label">Imagen de producto</label>
              <input class="form-control" type="file" id="image" name="image">
            </div>

            <div class="form-group">
              <label for="id_pet">Seleccione la mascota</label>
              <select class="form-control" id="mascota" name="id_pet">
                <option value="" disabled selected>Seleccionar</option>
                <% for(let i = 0; i < locals.pets.length; i++) { %>
                  <% if(locals.oldData && pets[i].id == oldData.id_pet) { %>
                    <option value="<%= locals.pets[i].id %>" selected> <%= locals.pets[i].name %> </option>
                  <% } else { %>
                    <option value="<%= locals.pets[i].id %>"><%= locals.pets[i].name %></option>
                  <% } %>
                <% } %>
              </select>
            </div>

            <div class="form-group">
              <label for="id_category">Seleccione la categoria</label>
              <select class="form-control" id="categoria" name="id_category">
                <option value="" disabled selected>Seleccionar</option>
                <% for(let i = 0; i < locals.categories.length; i++) { %>
                  <% if(locals.oldData && categories[i].id == oldData.id_category) { %>
                    <option value="<%= locals.categories[i].id %>" selected> <%= locals.categories[i].name %> </option>
                  <% } else { %>
                    <option value="<%= locals.categories[i].id %>"><%= locals.categories[i].name %></option>
                  <% } %>
                <% } %>
              </select>
            </div>

            <div class="form-group">
              <label for="id_brand">Seleccione la marca</label>
              <select class="form-control" id="marca" name="id_brand">
                <option value="" disabled selected>Seleccionar</option>
                <% for(let i = 0; i < locals.brands.length; i++) { %>
                  <% if(locals.oldData && brands[i].id == oldData.id_brand) { %>
                    <option value="<%= locals.brands[i].id %>" selected> <%= locals.brands[i].name %> </option>
                  <% } else { %>
                    <option value="<%= locals.brands[i].id %>"><%= locals.brands[i].name %></option>
                  <% } %>
                <% } %>
              </select>
            </div>

            <div class="form-group">
                <label for="price">Precio del producto</label>
                <input type="text" id="price" name="price" class="form-control <%= locals.errors && errors.price ? 'is-invalid' : null %>" value= "<%= locals.oldData && oldData.price ? oldData.price : null %>" placeholder="$">
                <% if (locals.errors && errors.price) { %>
                  <p style="color: red"><%= errors.price.msg %></p>
                <% } %>
            </div>

            <div class="form-group">
                <label for="discount">Descuento aplicado</label>
                <input type=text id="discount" name="discount" class="form-control <%= locals.errors && errors.discount ? 'is-invalid' : null %>" value= "<%= locals.oldData && oldData.discount ? oldData.discount : null %>" placeholder="%">
                <% if (locals.errors && errors.discount) { %>
                  <p style="color: red"><%= errors.discount.msg %></p>
                <% } %>
            </div>

            <div class="container my-3">
              <div class="col-md-12 text-center">
                <button type="submit" class="btn btn-primary btn-lg">Crear</button>
                <button type="reset" class="btn btn-secondary btn-lg">Limpiar</button>
              </div>
            </div>

        </form>

      </div>

    </div>

  </div>

  <%- include("../partials/footer") %>

</body>

</html>

