<!DOCTYPE html>
<html lang="en">

  <%- include("../partials/head") %> 
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<body>

  <%- include("../partials/header") %>

  <% if(locals.product) { %>
  <div class="container-create-edit-product">

    <div class="row display-flex justify-content-center mt-2 mb-5">

      <div class="col-lg-5 col-md-8 col-xs-12 col-sm-12">
        <h1 class="mb-3 text-center">Estas editando el producto: "<i><%= product.name %></i> "</h1>

          <form action="/products/edit/<%= product.id %>?_method=PUT" id="product-edit-form" method="post" enctype="multipart/form-data">
              <!-- el atributo "enctype= multipart/form..." es necesario para que multer funcione-->
            <div class="form-group">
              <label for="name">Nombre del Producto</label>
              <input type="text" id="name" name="name" class="form-control <%= locals.errors && errors.name ? 'is-invalid' : null %>" value= "<%= locals.productToEdit ? productToEdit.name : product.name %>">
              <small class="error-msg"></small>
              <% if (locals.errors && errors.name) { %>
                <p class="text-danger"><%= errors.name.msg %></p>
              <% } %>
            </div>

            <br>
            <div class="form-group">
              <label for="description">Descripcion breve</label>
              <textarea class="form-control" id="short_description" name="short_description"><%if(locals.productToEdit && productToEdit.short_description){%><%=productToEdit.short_description%><%}else if(locals.product && product.short_description){%><%=product.short_description%><%}else{ null}%></textarea>
              <small class="error-msg"></small>
              <% if (locals.errors && errors.short_description) { %>
                <p class="text-danger"><%= errors.short_description.msg %></p>
              <% } %>
            </div>

            <br>
            <div class="form-group">
              <label for="description">Descripcion amplia</label>
              <textarea class="form-control" id="long_description" name="long_description"><%if(locals.productToEdit && productToEdit.long_description){%><%=productToEdit.long_description%><%}else if(locals.product && product.long_description){%><%=product.long_description%><%}else{null}%></textarea>
            </div>
            
            <br>
            <div class="form-group">
                <label for="image" class="form-label">Imagen de producto</label>
                <input class="form-control" type="file" id="image" name="image">
                <small class="error-msg"></small>
                <% if (locals.errors && errors.image) { %>
                  <p class="text-danger"><%= errors.image.msg %></p>
                <% } %>
            </div>
            
            <br>
            <div class="form-group">
              <label for="id_pet">Seleccione la Mascota</label>
              <select class="form-control" name="id_pet" id="" required>
                  <option value="" disabled selected>- Seleccionar - </option>
                  <% for (let i = 0; i < locals.pets.length; i++) { %>
                    <% if (locals.productToEdit && pets[i].id == productToEdit.id_pet) { %>
                  <option value="<%= pets[i].id %>" selected><%= pets[i].name %></option>
                    <% } else if (pets[i].id == product.id_pet) { %>
                  <option value="<%= pets[i].id %>" selected><%= pets[i].name %></option>
                  <% } else { %>
                  <option value="<%= pets[i].id %>"><%= pets[i].name %></option>
                  <% } %>
                  <% } %>
              </select>
            </div>

            <br>
            <div class="form-group">
              <label for="id_category">Seleccione la Categoria</label>
              <select class="form-control" name="id_category" id="" required>
                  <option value="" disabled selected>- Seleccionar - </option>
                  <% for (let i = 0; i < locals.categories.length; i++) { %>
                    <% if (locals.productToEdit && categories[i].id == productToEdit.id_category) { %>
                  <option value="<%= categories[i].id %>" selected><%= categories[i].name %></option>
                    <% } else if (categories[i].id == product.id_category) { %>
                  <option value="<%= categories[i].id %>" selected><%= categories[i].name %></option>
                  <% } else { %>
                  <option value="<%= categories[i].id %>"><%= categories[i].name %></option>
                  <% } %>
                  <% } %>
              </select>
            </div>
            
            <br>
            <div class="form-group">
              <label for="id_brand">Seleccione la Marca</label>
              <select class="form-control" name="id_brand" id="" required>
                  <option value="" disabled selected>- Seleccionar - </option>
                  <% for (let i = 0; i < locals.brands.length; i++) { %>
                    <% if (locals.productToEdit && brands[i].id == productToEdit.id_brand) { %>
                  <option value="<%= brands[i].id %>" selected><%= brands[i].name %></option>
                    <% } else if (brands[i].id == product.id_brand) { %>
                  <option value="<%= brands[i].id %>" selected><%= brands[i].name %></option>
                  <% } else { %>
                  <option value="<%= brands[i].id %>"><%= brands[i].name %></option>
                  <% } %>
                  <% } %>
              </select>
            </div>

            <br>
            <div class="form-group">
              <label for="price">Precio del producto</label>
              <input type="text" id="price" name="price" class="form-control <%= locals.errors && errors.price ? 'is-invalid' : null %>"
              value= "<%= locals.productToEdit ? productToEdit.price : product.price %>">
              <small class="error-msg"></small>
              <% if (locals.errors && errors.price) { %>
                <p class="text-danger"><%= errors.price.msg %></p>
              <% } %>
            </div>

            <div class="form-group">
              <label for="discount">Descuento aplicado (%)</label>
              <input type=text id="discount" name="discount" class="form-control 
              <%= locals.errors && errors.discount ? 'is-invalid' : null %>" 
              value= "<%= locals.productToEdit ? productToEdit.discount : product.discount%>">
              <small class="error-msg"></small>
              <% if (locals.errors && errors.discount) { %>
                <p class="text-danger"><%= errors.discount.msg %></p>
              <% } %>
            </div>
            
            <div class="container my-3">
              <div class="col-md-12 text-center">
                <button type="submit" class="btn btn-primary btn-lg" id="submitBtn">Editar</button>
                <button type="reset" class="btn btn-secondary btn-lg">Limpiar</button>
              </div>
            </div>
          
          </form>
      
      </div>

    </div>

  </div>
  <% } %>

  <script src="/js/validations/editProduct.js"></script>

  <%- include("../partials/footer") %>

</body>

</html>
