<!DOCTYPE html>
<html lang="en">

    <%- include("../partials/head") %> 
    
<body>
    <body>

        <%- include("../partials/header") %>

        <main>

            <section class="listadoProductos">
                <% for(let product of products) { %>
                    <article class="productos">
                        <div class="producto"> 
                            <a href="/products/details/<%= product.id %>" class="imagen"><img src="/images/products/<%= product.image %>" style="width: 100%;"></a>
                            <p class="nombre"><%= product.name %></p>
                            <p class="descripcion"><%= product.description %></p>
                            <p class="precio">$ <%= product.final_price %></p>
                            
                        </div>
                    </article>
                <% } %>
            </section>
            
        </main>

        <%- include("../partials/footer") %>

    </body>
</body>
</html>