<!DOCTYPE html>
<html lang="en">

    <%- include("./partials/head") %> 
    
<body>

    <%- include("./partials/header") %>

<!-- PRODUCTO -->
<main class="infoProduct">
    <article class="article">

        <section class="section">
            <h2><%= product.name %></h2>
            <div class="preview">
                <img src="/images/<%= product.image %>" class="producto">
                <p class="detalle"> <%= product.description %></p>
                <p class="precioanterior">$ <%= product.price %></p>
                <p class="precioactual">$ <%= product.finalPrice %></p>
                <div class="buttons">
                    <button type="button" class="agregarCarrito">Agregar al carrito</button>
                    <button type="button" class="comprar">Comprar ahora</button>
                </div>
            </div>
            <div class="edit-delete">
                <!-- VISIBLE PARA ADMINS -->
                <a href="/admin/editproduct/<%= product.id %>"><button class="editar">Editar</button></a>
                <button type="submit" class="eliminar">Eliminar</button>
            </div>
        </section>

        <section class="detalleTablet">
            <div class="detalleProductoAmpliado">
                <p class="detalleAmplio">Acá va la descripción amplia</p>
                <div class="buttons">
                    <button type="button" class="agregarCarrito">Agregar al carrito</button>
                    <button type="button" class="comprar">Comprar ahora</button>
                </div>
                <div class="edit-delete">
                    <!-- VISIBLE PARA ADMINS -->
                    <a href="/admin/editproduct/<%= product.id %>"><button class="editar">Editar</button></a>
                    <form action="/productdetails/<%= product.id %>?_method=DELETE" method="post">
                        <button type="submit" class="eliminar">Eliminar</button>
                    </form>
                </div>
            </div>
        </section>
    </article>
</main>
<!-- END PRODUCTO -->

<!-- FOOTER -->

    <%- include("./partials/footer") %>

<!-- END FOOTER -->
</body>
</html>

