<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/productsList.css">
    <title>Lista de productos</title>
</head>
<body>
    <body>

        <%- include("./partials/header") %>

        <main>

            <h3>Productos</h3>

            <section class="listadoProductos">
                <% for(let product of products) { %>
                    <article class="productos">
                        <div class="producto"> 
                            <a href="/productdetails/<%= product.id %>" class="imagen"><img src="images/<%= product.image %>"></a>
                            <p class="nombre"><%= product.name %></p>
                            <p class="descripcion"><%= product.description %></p>
                            <p class="precio">$ <%= product.finalPrice %></p>
                            <a href="#" class="agregar"><div class="agregarCarrito">Agregar al carrito</div></a>
                            <a href="#" class="compra"><div class="comprar">Comprar</div></a>
                        </div>
                    </article>
                <% } %>
            </section>
            
        </main>

        <%- include("./partials/footer") %>

    </body>
</body>
</html>