<!DOCTYPE html>
<html lang="en">
    
    <%- include("./partials/head") %> 

<body>

    <%- include("./partials/header") %>  

<form class="formulario" action="/register" method="POST">
    
    <div class="contenedor-mail"> 
            <div class="registro2"> 
            <h4 class="buttons2">Registro:</h4><br>
        <div class="buttons2"><input type="email" name="email" id="email" placeholder="Introduce tu correo electronico"></input></div><br>
        <div class="buttons2"><input type="password" name="password" id="password" placeholder="Introduce tu contrase単a"></input></div><br>
        <div class="buttons2"><input type="password" name="password" id="password" placeholder="Confirma tu contrase単a"></input></div><br>
        
            
                <div class="buttons2"><button class="links"> Registrate con Facebook </button></div><br>
                <div class="buttons2"><button class="links2"> Registrate con Gmail </button></div><br>
            
                <div class="envios">
                <button class="buttons" type="submit">   Enviar   </button>
                <button class="buttons" type="reset">  Resetear  </button>
                </div>
             </div>
        </div>    
    <div>
</form>

    <%- include("./partials/footer") %>

<body>
</html>



/////////// COPIA

<script>
    function showForm() {
        const element = document.getElementById('form')
        element.style.display = 'block'

        const element1 = document.getElementById('buttons')
        element1.style.display = 'none'
    }

    function backForm() {
        const element = document.getElementById('form')
        element.style.display = 'none'

        const element1 = document.getElementById('buttons')
        element1.style.display = 'block'
    }
</script>

<div class="container-register">
    <div class="row display-flex justify-content-center mt-2 mb-5">
        <div class="col-lg-5 col-md-8 col-xs-12 col-sm-12">
            <div id="buttons">
                <h1 class="mb-3 text-center">Registro</h1>
            <div class="form-group text-center">
                <button class="button-register3" type="button">Ingresar con Gmail</button>
            </div>
            <div class="form-group mt-1 mb-1 text-center">
                <button class="button-register2" type="button">Ingresar con Facebook</button>
            </div>
            <div class="form-group mt-1 mb-1 text-center">
                <button class="button-register" type="button" onclick="showForm()">Ingresar con usuario y password</button>
            </div>
            </div>
            
            <form  action="/auth/register" method="post" enctype="multipart/form-data" id="form" class="form-register">
                <div class="form-group">
                  <label for="name">Nombre y Apellido</label>
                  <input type="text" id="name" name="name" class="form-control <%= locals.errors && errors.name ? 'is-invalid' : null %>" value= "<%= locals.oldData && oldData.name ? oldData.name : null %>">
                  <% if (locals.errors && errors.name) { %>
                    <p><%= errors.name.msg %></p>
                  <% } %>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" class="form-control <%= locals.errors && errors.email ? 'is-invalid' : null %>" value= "<%= locals.oldData && oldData.email ? oldData.email : null %>">
                    <% if (locals.errors && errors.email) { %>
                        <p><%= errors.email.msg %></p>
                    <% } %>
                  </div>
                <div class="form-group">
                    <label for="password">Contrase単a</label>
                    <input type="password" id="password" name="password" class="form-control <%= locals.errors && errors.password ? 'is-invalid' : null %>">
                    <% if (locals.errors && errors.password) { %>
                        <p><%= errors.password.msg %></p>
                    <% } %>
                </div>
                <div class="form-group">
                    <label for="password">Confirma tu contrase単a</label>
                    <input type="password" id="password" name="confirmPassword" class="form-control <%= locals.errors && errors.confirmPassword ? 'is-invalid' : null %>">
                    <% if (locals.errors && errors.confirmPassword) { %>
                        <p><%= errors.confirmPassword.msg %></p>
                    <% } %>
                </div>
                <div class="form-group">
                    <label for="image" class="form-label">Carga una foto</label>
                    <input type="file" name="avatar" class="form-control">
                </div>
                <div class="container my-3">
                    <div class="col-md-12 text-center">
                        <button type="reset" class="btn btn-primary btn-lg" onclick="backForm()">Reset</button>
                        <button type="submit" class="btn btn-secondary btn-lg">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<%- include("./partials/footer") %>
