<!DOCTYPE html>
<html lang="en">

    <%- include("../partials/head") %> 
    
<body>
    
    <%- include("../partials/header") %>

    <main>
        <section class="main-section-login">
            <div class="main-title-login">
               </i><h2>Inicia Sesión</h2>
            </div>

                <h4 class="subtitle-login">Ingresa tu e-mail y contraseña!</h4>
            
            <form action="/auth/login" method="POST">
                <div>
                    <p class="email">
                        <label for="email"></label>
                        <input type="email" name="email" id="email" placeholder="E-mail" class="<%= locals.errors && errors.email ? 'is-invalid' : null %>" value= "<%= locals.oldData && oldData.email ? oldData.email : null %>">
                        <% if (locals.errors && errors.email) { %>
                            <p style="color:red"><%= errors.email.msg %></p>
                        <% } %>
                    </p>
                    <p class="password">
                        <label for="password"></label>
                        <input type="password" name="password" id="password" pattern=".{8,15}" placeholder="Contraseña" alt="strongPass" alt="alphanumeric" class="<%= locals.errors && errors.password ? 'is-invalid' : null %>">
                        <% if (locals.errors && errors.password) { %>
                            <p style="color:red"><%= errors.password.msg %></p>
                        <% } %>
                    </p>
                        <% if (locals.errors && errors.userLogin) { %>
                        <p style="color:red"><%= errors.userLogin.msg %></p>
                        <% } %>
                    <p class="passwordbutton">
                        <button id="toggle-password" type="button" aria-label="Muestra la contraseña como texto plano. Advertencia: esto hará que se muestre su contraseña en la pantalla.">Mostrar contraseña</button>
                    </p>   
                </div>
                
                <div class="recorder">
                    <input type="checkbox" name="rememberUser" value="Recordarme"> 
                    <label for="rememberUser">Recordarme</label>
                </div>
             
                <div class="enter-buttom-login">
                    <button type="submit">Entrar<i class="fa-solid fa-paw"></i></button>
                </div>

                <div class="create-account">
                    <p>¿Nuevo cliente?</p>
                    <a href="/auth/register">Crear cuenta</a>
                </div>

                <div class="forgot-password">
                    <p>¿Olvidaste tu contraseña?</p>
                </div>

                <div class="recover-password">
                    <a href="/auth/recoverpassword">Recuperar contraseña...</a>
                </div>
            </form>
        </section>
    </main>

    <%- include("../partials/footer") %>

</body>
</html>