<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head") %> 

<body>

    <%- include("../partials/header") %>

    <main class="userProfile">

        <section class="top-userProfile">
            <img src="/images/avatars/<%= user.avatar %>">
            <br><br>
            <p class="userName"><%= user.name %></p>
            <br>
            <p class="userEmail"><%= user.email %></p>
        </section>
        <br>
        <form action="/auth/profile" method="POST">
            <button type="button" class="close-session"><a href="#">Editar datos</a></button>
            <br>
            <button type="submit" class="close-session">Cerrar sesión</button>
        </form>

    </main>

    <%- include("../partials/footer") %>

</body>

</html>